.emplist {
    padding: 50px 100px;
    table {
        text-align: left;
        font-size: 17px;
        .fa {
            cursor: pointer;
        }
      
    }
      input{
                float: right;
    margin: 20px 0px;
    width: 200px;
    margin-top: -50px;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #6f4b4b;
        }
    
}
.nestedRouter{
    padding:0px 100px
    
}
 button {
            margin-top: 30px;
            padding: 9px 44px;
            background: #e97171;
            color: #fff;
            border: none;
            font-size: 14px;
        }